<div class="clearfix mxn2">
  <div class="col sm-col-9 px2">
    <h3 class="mb2">About me</h3>
    <p>
     I’m a solution architect who values clean code practices, test-driven development, and simplicity over complexity. 
     Over 10 years of experience with enterprise application integration and web development, in environments ranging from startups to the Fortune 500.
     Accomplished Solution architect, skilled in reengineering, developing and implementing digital strategies in alignment with business objectives.
     Particularly interested in DevOps, containerization and challenges around it.
     Lengthy leadership experience, up to managing eight member team.
     Excellent oral and written communication skills
    </p>
  </div>
  <div class="col sm-col-3 px2">
    <h3 class="mb2">Contact</h3>
    {% include contact.html %}
  </div>
</div>
