<div class="clearfix mxn2">
  <div class="col sm-col-9 px2">
    <h3 class="mb2">About me</h3>
    <p>
      My research interest spans the fields of artificial intelligence,
      robotics, embedded systems, and operating systems. I also learn to
      play <a href="https://en.wikipedia.org/wiki/Ney">ney</a> in my spare time.
      For more information, check out
      <a href="{{ site.nav.main.writing }}">writing</a>,
      <a href="{{ site.nav.main.projects }}">projects</a> and
      <a href="https://www.youtube.com/channel/UCgAKgGwDoSbQ0U7hScD1MLQ">
      my YouTube channel</a> on which I like to demonstrate the progress I make
      with my pet projects.
    </p>
  </div>
  <div class="col sm-col-3 px2">
    <h3 class="mb2">Contact</h3>
    {% include contact.html %}
  </div>
</div>
